
img {
    width: 100%; /* This is used to adjust the width of the images*/
    height: 300px; /* This is used to adjust the height of my images*/
    display: block;
    border-radius: 30px; /* Makes the borders of the header image curved */
    object-fit: cover; /* Makes the header image cover most of the screen */

}



.nav-bar {
    background-color: #0B1A33;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-right: -7px; /* Makes the navigation bar not touch the top of the*/
    margin-left: -7px; /* Makes the navigation bar not touch the left side of the*/
    margin-top: -7px; /* Makes the navigation bar not touch the right side of the*/
    margin-bottom: 10px; /* Adds a gap between the bottom of the navigation bar and the header image*/
    padding: -1px;  /* Makes the navigation bar thicker */
    align-items: center;
    color: white;

}

.navbar-links a {
    color: white; /* Makes the navigation bar links white */
    font-size: large;
    text-decoration: none; /* Removes the underline under the navigation bar links */

}

.navbar-links a:hover {
    padding: 20px;
    background-color: #616368; /* When you hover over the link on the navigation bar a box will appear around it */

}


.home-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: row; /* Makes the home image and home text side by side*/
    
}

.home-image {
    width: 20%;
    height: auto;
    margin-top: 50px;
    margin-left: 15px; /* This is used to move the home image of the edge of the screen */
}

.home-image img {
    border-radius: 0% !important; /* This is used so that the rest of my images don't have a curved border */
    border: 5px solid #CFBA2B; /* Makes the image have a Gold border colour */

}

.home-text {
    margin: 3%;
    display: flex;
    flex-direction: column;
    margin: 5%; 
    gap: 10%; /* For the gap between the home text and home image */
    font-size: x-large;
    margin-top: 130px; /* This is used to move the home text lower*/
}

.titles {
    position: absolute; /* This is used to be able to move the page titles anywhere*/
    top: 145px; /* This is used to center the titles on the header image so its not touching the top */
    left: -40px; /* This is used to center the titles on the header image so its not touching the left */
    right: 5px; /* This is used to center the titles on the header image so its not touching the right */
    bottom: 5px; /* This is used to center the titles on the header image so its not touching the bottom */
    font-size: xx-large; /* This makes the page titles extra extra large*/
    border-radius: 30px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}


.logo {
    display: flex;
    align-items: start; /* This is used to move the logo on my left hand side of the navigation bar*/
}

.events-image {
    display: flex;
    justify-content: center;
    align-items: center; /* This is used to center the images*/
    margin-top: 20px;

}

.events-image img {
    width: 15%;
    height: 400px;
    max-width: 40%;
    border-radius: 0% !important;
    border: 5px solid #CFBA2B;

}

.events-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* This is used to make the text display as a column*/
    font-size: x-large;
}

.events-attribution {
    display: flex;
    justify-content: center;
    align-items: center; /* This is used to center the events image attributions*/
    flex-direction: column;
    font-size: medium;
}

body {
    background-color: #f4f1e8;
}

.about img {
    width: 97%;
    height: 350px;
    border-radius: 0% !important;
    border: 5px solid #CFBA2B;

}

.about-content {
    display: flex;
    flex-direction: row-reverse; /* This is used to move the about image to my right and side of the page with the about text on my left hand side of the page*/
    margin-top: 20px;
    margin-right: 15px;
}

.about-text {
    width: 40%;
    font-size: x-large;
    display: flex;
    justify-content: flex-start;
    margin-left: 3%;
}

.acting-content-two {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.acting-image-two {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    margin-top: 10px;
}

.acting-image-two img {
    border-radius: 0% !important;
    border: 5px solid #CFBA2B;
}

.acting-text-two {
    margin: 3%;
    display: flex;
    flex-direction: column;
    margin: 5%; 
    gap: 10%;
    font-size: x-large;
    margin-top: 60px;
}

.acting-attribution-two {
    margin-left: 80px; /* This is used to move the attribution of the edge of the page*/
    margin-top: -25px; /* This is used to remove the gap between the acting image and attribution*/
}

.acting-image-three {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
    margin-top: 10px;
}

.acting-image-three img {
    border-radius: 0% !important;
    border: 5px solid #CFBA2B;
}

.acting-content-three {
    display: flex;
    flex-direction: row-reverse;
}

.acting-text-three {
    width: 40%;
    font-size: x-large;
    display: flex;
    justify-content: flex-start;
    margin-left: 3%;
    margin-top: 50px;
    margin-right: -50px;
}

.acting-attribution-three {
    margin-left: 1555px; /* This is used to move this image attribution to my right hand side of the page*/
}


.acting-content-four {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.acting-image-four {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
}

.acting-image-four img {
    border-radius: 0% !important;
    border: 5px solid #CFBA2B;
}

.acting-text-four {
    margin: 3%;
    display: flex;
    flex-direction: column;
    margin: 5%; 
    gap: 10%;
    font-size: x-large;
    margin-top: 40px;
}

.acting-attribution-four {
    margin-left: 80px;
    margin-top: -40px;
}

.acting-introduction-text {
    font-size: x-large;
    display: flex;
    justify-content: center; /* This is used to center my starting acting text*/
    margin-top: 10px;
}

.home-attribution {
    margin-left: 90px; 
}

.about-attribution {
    margin-left: 1550px; /* This is used to move the about attribution to my right hand side of the page*/
}