
img {
    width: 100%;
    height: 300px;
    display: block;
    border-radius: 30px;
    object-fit: cover;
    background-image: url(images/header.jpg.jpg);
    background-repeat: no-repeat;
    background-size: auto;

}

.navbar-links {
    background-color: #0B1A33;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-right: -7px;
    margin-left: -7px;
    margin-top: -7px;
    padding: 10px;  /* Makes the navigation bar thicker */

}

.navbar-links a {
    color: white;

}

.filler-image {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.home-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
}

.home-image {
    width: 20%;
    height: auto;
}

.home-image img {
    border-radius: 0% !important;
    border: 5px solid #CFBA2B;

}

.home-text {
    margin: 3%;
    display: flex;
    flex-direction: column;
    margin: 5%; 
    gap: 10%;
}

.titles {
    font-size: xx-large;
    display: flex;
    justify-content: center;

}

.logo {
    display: flex;
    align-items: start;
}

.events-image {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.events-image img {
    width: 15%;
    height: 400px;
    max-width: 40%;
    border-radius: 0% !important;
    border: 5px solid #CFBA2B;

}

body {
    background-color: #f4f1e8;
}

.about img {
    width: 97%;
    height: 350px;
    border-radius: 0% !important;
    border: 5px solid #CFBA2B;

}

.about-content {
    display: flex;
    flex-direction: row-reverse;
}

.about-text {
    width: 40%;
    font-size: x-large;
    display: flex;
    justify-content: flex-start;
    margin-left: 3%;
}